@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Tinos:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "poppins";
  /* font-family: Arial, Helvetica, sans-serif; */
}
.font-tinos {
  font-family: "tinos" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  leading-trim: both;
}
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
}
.orgchart-container {
  height: 500px !important;
}
.orgchart .lines {
  stroke: black !important; /* Change to any color */
}
.orgchart .node {
  border: 2px solid black !important; /* Change to any color */
  border-radius: 8px; /* Optional: Round corners */
}
.oc-node::before,
.oc-node::after {
  background-color: black !important;
  height: 12px !important;
}
.oc-node:hover {
  background-color: none !important;
}
li::before,
li::after {
  border-color: black !important;
}
.orgchart ul li .oc-node {
  border: none !important;
  padding: 0 6px 0 6px !important;
}
.orgchart ul li .oc-node:hover {
  background: none !important;
}
.orgchart-container {
  margin: 0 !important;
  border: 0.5px solid #d1d1d1 !important;
}
.material-star-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
